*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chart-container{
    height: 89vh;
    width: 100%;
    overflow-y: scroll;
    background-color: whitesmoke;
    
}

.topic-head{
    height: 30px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}


.chart-1{
    height: 400px;
    width: 500px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}   

.chart-sec-1{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chart-sec-2{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.chart-sec-3{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.chart-container::-webkit-scrollbar{
    display: none;
}


.chart-name{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.chart-5{
    margin-left: 130px;
}
